
@import "./vars";

.servicios {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;

    @media screen and (min-width: 2560px) {
        max-width: 2000px;   
    }

    .habilidades-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    span {
        color: white;
        margin-top: 90px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

        @media screen and (min-width: 2560px) {
            font-size: 30px;
        }

        @media screen and (max-width: 1024px) {
            margin-left: 25px;   
        }
    
        @media screen and (max-width:768px) {
            margin-left: 20px;
        }

        @media screen and (max-width: 426px) {
            display: none;   
        }
    }

    h1 {
        color: white;
        font-size: 50px;
        margin-top: 4px;
        font-family: 'Roboto', sans-serif;

        @media screen and (min-width: 2560px) {
            font-size: 80px;
        }

        @media screen and (min-width: 2560px) {
            
        }

        @media screen and (max-width: 1024px) {
            margin-left: 20px;               
        }

        @media screen and (max-width:768px) {
            margin-left: 20px;
        }

        @media screen and (max-width: 426px) {
            text-align: center;
        }

        @media screen and (max-width: 376px) {
            margin-left: 5px;
        }
    
        @media screen and (max-width: 321px) {
            margin-left: 5px;               
        }

    }

    .border {
        width: 150px;
        height: 3px;
        background-color: $primaryColor;
        margin-top: -20px;
        
        @media screen and (min-width: 2560px) {
            height: 5px;
        }
        
        @media screen and (max-width: 1024px) {
            margin-left: 25px;    
        }

        @media screen and (max-width:768px) {
            margin-left: 22px;
        }

        @media screen and (max-width: 426px) {
            display: none;    
        }
    }

    .habilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        margin-top: 50px;
        
        @media screen and (min-width: 2560px) {
            max-width: 2000px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 130px;
        }

        @media screen and (max-width: 376px) {
            gap: 40px;
        }

        .card {
            flex-basis: 26%;
            background-color: #262843;
            transition: 0.3s;
            padding: 20px 12px ;
            -webkit-box-shadow: 1px 1px 39px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 1px 39px -4px rgba(0,0,0,0.75);
            box-shadow: 1px 1px 39px -4px rgba(0,0,0,0.75);
            width: 100%;
            height: 220px;

            @media screen and (min-width: 2560px) {
                height: 400px;
            }

            @media screen and (max-width:768px) {
                height: 250px;
            }

            @media screen and (max-width: 426px) {
                height: 170px;
                width: 100px; 
            }

            @media screen and (max-width: 376px) {
                width: 100px;
            }
            
            @media screen and (max-width: 321px) {
                width: 80px;
            }
            
            .container {           
                padding: 2px 16px;
            
                .card:hover {
                    box-shadow: 0 8px 16px 0 rgb(252, 249, 249);
                }
        
                h4 {
                    color: white;
                    font-size: 20px;
                    font-family: arial;
                    margin-bottom: 10px;
                    font-family: 'Roboto', sans-serif;

                    @media screen and (min-width: 2560px) {
                        font-size: 50px;
                    }

                    @media screen and (max-width:768px) {
                        font-size: 25px;
                    }

                    @media screen and (max-width: 426px) {
                        text-align: center;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    @media screen and (max-width: 376px) {
                        font-size: 17px;
                    }

                    @media screen and (max-width: 321px) {
                        text-align: center;
                    }
                }

                p {
                    color: white;
                    font-size: 16px;
                    font-family: Arial;
                    margin: unset;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.2;

                    @media screen and (min-width: 2560px) {
                        font-size: 26px;
                    }

                    @media screen and (max-width:768px) {
                        font-size: 13px;
                    }

                    @media screen and (max-width: 426px) {
                        display: none;
                    }

                }
                
                img {
                    width: 45px;
                    height: auto;
                    object-fit: contain;

                    @media screen and (max-width: 426px) {
                        width: 55px;
                        margin: 0 auto;
                        display: block;
                    }

                    &.config {
                        height: 45px;
                        width: auto;
                    
                        @media screen and (max-width: 321px) {
                            margin-left: -10px;
                        }
                
                }

                    &.sass-config {
                        margin-top: 14px;
                    }
                }
            }   
        }        
    }
}